.info {
  margin-top: 150px;

  .title {
    color: #340078;

    text-align: center;
    font-family: "Extended-UltraBold";
    font-size: 60px;
    line-height: 66px;
    margin-bottom: 100px;
    span {
      color: #f50;
    }
  }
  .items {
    display: flex;
    flex-wrap: wrap;
  }
  .item {
    max-width: 400px;
    width: 100%;
    margin-bottom: -25px;
    span {
      width: 70px;
      height: 70px;
      background-color: #fff;
      border-radius: 50%;
      font-size: 30px;
      display: block;
      color: #f60;
      font-family: "Extended-UltraBold";
      margin-bottom: -25px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 15px;
      transition: 0.3s;
    }
    p {
      border-radius: 15px;
      background: #f60;
      box-shadow: 0px 10px 45px 0px rgba(255, 102, 0, 0.2);
      padding: 61px 31px;
      font-size: 23px;
      line-height: 32.2px;
      font-family: "Extended-SemiBold";
      color: #fff;
      text-align: center;
      height: 314px;
      transition: 0.3s;
    }
  }
  .item:nth-of-type(2) {
    margin-left: 5px;
    margin-right: 5px;
  }
  .item:nth-of-type(5) {
    margin-left: 5px;
    margin-right: 5px;
  }
  .item:hover {
    p {
      background: #fff;
      color: #f60;
    }
    span {
      color: #fff;
      background: #f60;
    }
  }
}
@media (max-width: 1240px) {
  .info {
    .title {
      font-size: 52px;
      line-height: 57px;
    }
    .items {
      justify-content: center;
    }
    .item {
      max-width: 320px;
      width: 100%;

      span {
        width: 60px;
        height: 60px;
        font-size: 25px;
      }
      p {
        font-size: 19px;
        padding: 50px 20px;
        line-height: 28.2px;
        height: 280px;
      }
    }
  }
}
@media (max-width: 992px) {
  .info {
    .title {
      font-size: 45px;
      line-height: 51px;
      margin-bottom: 90px;
    }
    .item {
      max-width: 240px;
      width: 100%;
      span {
        width: 50px;
        height: 50px;
        font-size: 18px;
        margin-bottom: -20px;
      }
      p {
        font-size: 14px;
        padding: 40px 20px;
        line-height: 25.2px;
        height: 250px;
      }
    }
  }
}
@media (max-width: 767px) {
  .info {
    .title {
      font-size: 34px;
      line-height: 41px;
      margin-bottom: 80px;
    }

    .item {
      max-width: 185px;
      width: 100%;
      margin-bottom: -20px;

      p {
        font-size: 13px;
        padding: 30px 20px;
        line-height: 17.2px;
        height: 180px;
      }
      span {
        width: 40px;
        height: 40px;
        font-size: 15px;
        margin-bottom: -15px;
      }
    }
  }
}
@media (max-width: 585px) {
  .info {
    margin-top: 100px;

    .title {
      font-size: 26px;
      line-height: 32px;
    }
    .item {
      max-width: 140px;
      width: 100%;
      margin-bottom: -10px;

      p {
        font-size: 10px;
        line-height: 12.2px;
        height: 150px;
        padding: 25px 15px
      }
      span {
        width: 25px;
        height: 25px;
        font-size: 10px;
        margin-bottom: -10px;
      }
    }
  }
}
@media (max-width: 450px) {
  .info {
    margin-top: 80px;
    .title{
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 60px;
    }
    .item {
      max-width: 106px;
      width: 1100%;
      margin-bottom: -5px;

      p {
        font-size: 7px;
        line-height: 9.2px;
        height: 100px;
        padding: 20px 10px;
      }
      span{
        width: 20px;
        height: 20px;
        font-size: 8px;
      }

    }
  }
}
