*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-color: #F4F9FF;
}
.main{
    background-image: url('../../public/images/shape.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}
.footer{
    background-image: url('../../public/images/shape2.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    margin-top: 150px;
}

