.shape{
    background-image: url('../../../public/images/shape.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
@media(max-width:1240px){
   .shape{
    background-position: center;
   }
}