.sponsors {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  .box {
    margin-top: 70px;
    display: flex;

    .items {
      margin-right: 10px;
      width: 320px;
      border-radius: 35px;
      border: 0.878px solid #f2f2f2;
      background: #fff;
      box-shadow: 0px 9.07073px 45.35367px 0px rgba(52, 0, 120, 0.2);
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: 1s;
      img {
        padding-top: 45px;
        width: 200px;
      }
      p {
        padding: 0 24px 36px 24px;
        color: #340078;
        font-family: "Extended-UltraBold";
        text-align: center;
        font-size: 27.212px;
        line-height: 38px;
        margin-top: 25px;
      }
    }
    .items:hover {
      p {
        font-size: 30px;
      }
      img {
        width: 230px;
      }
    }
  }
}
@media (max-width: 1240px) {
  .sponsors {
    .box {
      padding: 0 15px;
      .items {
        width: 100%;
        p {
          font-size: 23px;
          line-height: 30px;
        }
        img {
          width: 170px;
        }
      }
      .items:hover {
        p {
          font-size: 25px;
          line-height: 32px;
        }
        img {
          width: 185px;
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .sponsors {
    .box {
      .items {
        img {
          width: 120px;
        }
        p {
          font-size: 19px;
          line-height: 25px;
          padding: 0 16px 19px 16px;
          margin-top: 20px;
        }
      }
      .items:hover {
        p {
          font-size: 21px;
          line-height: 26px;
        }
        img {
          width: 140px;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .sponsors {
    .box {
      .items {
        p {
          padding: 0 10px 15px 10px;
          font-size: 13px;
          line-height: 20px;
        }
        img {
          width: 100px;
          padding-top: 30px;
        }
      }
      .items:hover {
        p {
          font-size: 15px;
        }
        img {
          width: 110px;
        }
      }
    }
  }
}
@media (max-width: 567px) {
  .sponsors {
    .box {
      .items {
        p {
          padding: 0 10px 15px 10px;
          font-size: 8px;
          line-height: 14px;
          margin-top: 15px;
        }
        img {
          width: 70px;
        }
      }
      .items:hover {
        p {
          font-size: 10px;
          line-height: 16px;
        }
        img {
          width: 80px;
        }
      }
    }
  }
}
@media (max-width: 430px) {
  .sponsors {
    .box {
      .items {
        margin-right: 3px;
        p {
          padding: 0 10px 15px 10px;
          font-size: 6px;
          margin-top: 10px;
          line-height: 13px;
        }
        img {
          width: 50px;
          padding-top: 20px;
        }
      }
      .items:hover {
        p {
          font-size: 8px;
          line-height: 15px;
        }
        img {
          width: 60px;
        }
      }
    }
  }
}
